---------------------------------------------- All Activities ----------------------------------------------------------
X * Create a text field to search activity by name, where the <search text> includes and not be an exact match.
X * Add a filter option for dates (from and to).
X * Add a filter option for distance (more than X, less than X).
X * Add a filter option for elevation gain (more than X, less than X).
X * Add a filter option for highest elevation (more than X, less than X).
X * Add a filter option for average speed (more than X, less than X).
X * Add a filter option for max speed (more than X, less than X).
X * Add a filter option for moving time (more than X, less than X).
X * Add a filter option for commute.
X * Add a filter option for activity type.
X * Add a filter option for gear.
* Add totals for each of the columns.
X * Give the filter options the ability to be collapsed.
X * Make activity names a link that when clicked in will bring the user to the activity, which brings the user to a page
  that shows the details of the activity.
* Graph all activities by selected column and show trend lines.

------------------------------------------ Individual Activities -------------------------------------------------------
X * Create a button that opens up the activity in Strava in a new tab.
X * Figure out how to get data from .fit and .gpx files. (Look into the fitdecode and gpxpy libraries)
X * Get individual activity data by using the .fit and .gpx activity files.
* Use the .fit and .gpx files to display the data for the individual activities.
* When displaying individual activities, graph the speed or pace vs distance(depending on activity type), for both .gpx
  and .fit files.
* When displaying individual activities, graph elevation vs distance, for both .gpx and .fit files.
* When displaying individual activities, if applicable, graph hr vs distance, for both .gpx and .fit files.
* When displaying individual activities, if applicable, graph cadence vs distance, for both .gpx and .fit files.
* When displaying individual activities, if applicable, graph power vs distance, for both .gpx and .fit files.
* Display the ride on an embedded map.

------------------------------------------------- Other ----------------------------------------------------------------
X * Make a nav bar that is displayed on every page.
X * Make an HTML open file dialog option for file upload.
* Add an option for the user to see all time data for distance, total climbing for all activity types (Ex.
  rides/runs/swims/etc) and gear.
* Make a section where the user can enter personal data (weight, height, age, etc).
* Style the page using CSS.
* Explore option of making an API to get user activity.
