h6, p {
    display: inline;
}

.number-input-eight-char {
    width: 90px;
}

.number-input-six-char {
    width: 65px;
}

.number-input-five-char {
    width: 65px;
}

.number-input-three-char {
    width: 54px;
}

.number-input-two-char {
    width: 42px;
}

nav {
    background-color: #ffa500;
}

.plot {
    width: 100%;
    height: 100%;
    margin: 20px;
    padding: 10px;
    background-color: lightblue;
    border: 1px solid black;
    overflow: visible;
}

.border {
    border: 1px solid black;
}

.group-inline {
    display: flex;
    justify-content: center;
}

.group-inline label {
    margin-right: 10px
}

th {
    vertical-align: middle;
}