{% extends 'base.html' %}

{% block head %}
<h1>Filter Activity</h1>
{% endblock %}

{% block body %}
<h1>Filter Activity</h1>
    <table>
        <tr>
            <th>Activity Name</th>
            <th>Start Time</th>
            <th>Moving Time</th>
            <th>Distance</th>
            <th>Average Speed</th>
            <th>Activity Type</th>
        </tr>
        {% for activity in activities %}
        <tr>
            <td>{{ activity.activity_name }}</td>
            <td>{{ activity.start_time }}</td>
            <td>{{ activity.moving_time }}</td>
            <td>{{ activity.distance }}</td>
            <td>{{ activity.average_speed }}</td>
            <td>{{ activity.activity_type }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
