{% extends 'base.html' %}

{% block head %}
<title>Filter Activity</title>
{% endblock %}

{% block body %}
<h1>Filter Activity</h1>
    <div class="dropdown">
        <form method="POST">

            <!-- Activity Name Text Search -->
            <label for="activity_name_search"
                   class="ms-2 mt-2">Search Activity Name
            </label>
            <input type="text"
                   name="activity_search"
                   class="form-control ms-2 mb-2"
                   style="width:450px"
                   placeholder="Search Activity Name"
                   id="activity_name_search">

            <!-- Dropdown box to select Activity Type to display -->
            <label for="dropdown-menu"
                   class="ms-2 mt-2">Activity Type
            </label>
            <select name="options"
                    id="dropdown-menu"
                    class="form-select ms-2 mb-2"
                    style="width:250px"
                    onchange="getDropdownValue()">

                <!-- Add the "All" option to the dropdown box to represent all activities-->
                <option value="All">All</option>

                <!-- Populate the Activity Type dropdown box with the actual activity types included in the database -->
                {% for type in activity_type_list %}
                    <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>

            <!-- Date picker to select activities after selected date -->
            <label class="ms-2 my-2" for="datetime_local_start"> Start Date
                <input name="start_date"
                       class="my-2"
                       type="date"
                       id="datetime_local_start"/>
            </label>

            <!-- Date picker to select activities after selected date -->
            <label class="my-2" for="datetime_local_end"> End Date
                <input name="end_date"
                       class="my-2"
                       type="date"
                       id=datetime_local_end"/>
            </label>

            <!-- Checkbox to filter activities that are commutes -->
            <div class="form-check ms-2 my-2">
                <input name="commute" class="form-check-input" type="checkbox" value="commute" id="commute_checkbox">
                <label class="form-check-label" for="commute_checkbox">Commute</label>
            </div>

            <br>
            <!-- Submit the form -->
            <button type="submit"
                    class="ms-2 my-2">Filter
            </button>
        </form>

    <!--        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" onchange="getDropdownValue()">-->
    <!--            Filter by Activity-->
    <!--        </button>-->
    <!--        <ul class="dropdown-menu">-->
    <!--            {% for type in activity_type_list %}-->
    <!--                <li><a class="dropdown-item" value="{{ type }}">{{ type }}</a></li>-->
    <!--            {% endfor %}-->
    <!--        </ul>-->
<!--        <div id="activity-type" class="ms-2 mb-2">Showing All Activities</div>-->
        <div class="ms-2 my-2">{{ num_of_activities }}</div>
    </div>
    <hr>
    <table>
        <tr>
<!--            <th>Activity ID</th>-->
            <th>Activity Name</th>
            <th>Start Time</th>
            <th>Moving Time</th>
            <th>Distance</th>
            <th>Average Speed</th>
            <th>Max Speed</th>
            <th>Elevation Gain</th>
            <th>Highest Elevation</th>
            <th>Activity Type</th>
        </tr>
        {% for activity in activities %}
        <tr>
<!--            <td>{{ activity.activity_id }}</td>-->
            <td>{{ activity.activity_name }}</td>
            <td>{{ activity.start_time }}</td>
            <td>{{ activity.moving_time }}</td>
            <td>{{ activity.distance }}</td>
            <td>{{ activity.average_speed }}</td>
            <td>{{ activity.max_speed }}</td>
            <td>{{ activity.elevation_gain }}</td>
            <td>{{ activity.highest_elevation }}</td>
            <td>{{ activity.activity_type }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
