{% extends 'base.html' %}

{% block head %}
<title>Upload Activities</title>
{% endblock %}
{% block body %}
    <form id="directoryForm"
          action="{{ url_for('upload_file') }}"
          method="POST"
          enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFile" class="form-label">Choose your downloaded Strava Data</label>
            <input class="form-control" type="file" id="formFile" name="files" webkitdirectory multiple/>
            <button class="btn btn-outline-secondary" type="submit">Upload</button>
        </div>
    </form>

    <h3>Search Result:</h3>
    <div id="searchResult"></div>

    <button href="/">Home</button>
{% endblock %}