{% extends 'base.html' %}

{% block head %}
<title>Activities</title>
{% endblock %}

{% block body %}
    <!-- Filtering the Results -->
    <button class="btn btn-outline-secondary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-filter"
            aria-expanded="false"
            aria-controls="collapse-filter">
        Filter Results
    </button>

    <!-- Dropdown menu for the graphs -->
    <div class="btn-group">
        <button type="button" id="graph-btn" class="btn btn-outline-secondary">Display Graph</button>
        <button type="button"
                class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown"
                data-bs-theme="dark"
                aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
<!--        <form method="POST">-->
            <ul class="dropdown-menu px-2">
                <li>
                    <input type="radio"
                           class="form-check-input"
                           name="graph-options"
                           id="moving-time"
                           value="moving-time"
                           autocomplete="off"
                           onchange="showGraph(this.value)"
                           checked>
                    <label class="form-check-label"
                           for="moving-time">Moving Time
                    </label>
                </li>
                <li>
                    <input type="radio"
                           class="form-check-input"
                           name="graph-options"
                           id="distance"
                           value="distance"
                           autocomplete="off"
                           onchange="showGraph(this.value)">
                    <label class="form-check-label"
                           for="distance">Distance
                    </label>
                </li>
                <li>
                    <input type="radio"
                           class="form-check-input"
                           name="graph-options"
                           id="avg-speed"
                           value="avg-speed"
                           autocomplete="off"
                           onchange="showGraph(this.value)">
                    <label class="form-check-label"
                           for="avg-speed">Average Speed
                    </label>
                </li>
                <li>
                    <input type="radio"
                           class="form-check-input"
                           name="graph-options"
                           id="max-speed"
                           value="max-speed"
                           autocomplete="off"
                           onchange="showGraph(this.value)">
                    <label class="form-check-label"
                           for="max-speed">Max Speed
                    </label>
                </li>
                <li>
                    <input type="radio"
                           class="form-check-input"
                           name="graph-options"
                           id="elevation-gain"
                           value="elevation-gain"
                           autocomplete="off"
                           onchange="showGraph(this.value)">
                    <label class="form-check-label"
                           for="elevation-gain">Elevation Gain
                    </label>
                </li>
<!--                <li>-->
<!--                    <button type="submit"-->
<!--                            class="btn btn-outline-secondary"-->
<!--                            onsubmit="submitGraph()">-->
<!--                        Show Graph-->
<!--                    </button>-->
<!--                </li>-->
            </ul>
<!--        </form>-->
    </div>

    <ul class="nav nav-tabs collapse" id="collapse-filter">
        <li class="nav-item">
            <form method="POST" id="filterActivitiesForm">

                <!-- Activity Name Text Search -->
                <label for="activity-name-search"
                       class="ms-2 mt-2">Search Activity Name
                </label>
                <input type="text"
                       name="activity-search"
                       class="form-control ms-2 mb-2"
                       style="width:450px"
                       placeholder="Search Activity Name"
                       id="activity-name-search">

                <!-- Dropdown box to select Activity Type to display -->
                <label for="dropdown-menu-type"
                       class="ms-2 mt-2">Activity Type
                </label>
                <select name="type-options"
                        id="dropdown-menu-type"
                        class="form-select ms-2 mb-2"
                        style="width:250px"
                        onchange="getDropdownTypeValue()">

                    <!-- Add the "All" option to the dropdown box to represent all activities-->
                    <option value="All">All</option>

                    <!-- Populate the Activity Type dropdown box with the actual activity types included in the database -->
                    {% for type in activity_type_list %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>

                <!-- Dropdown box to select Activity Gear to display -->
                <label for="dropdown-menu-gear"
                       class="ms-2 mt-2">Activity Gear
                </label>
                <select name="gear-options"
                        id="dropdown-menu-gear"
                        class="form-select ms-2 mb-2"
                        style="width:250px">

                    <!-- Add the "All" option to the dropdown box to represent all activities-->
                    <option value="All">All</option>

                    <!-- Populate the Activity Type dropdown box with the actual activity types included in the database -->
                    {% for gear in activity_gear_list %}
                        <option value="{{ gear }}">{{ gear }}</option>
                    {% endfor %}
                </select>

                <!-- Date picker to select activities after selected date -->
                <label class="ms-2 my-2" for="datetime-local-start"> Start Date
                    <input name="start-date"
                           class="my-2"
                           type="date"
                           id="datetime-local-start"/>
                </label>

                <!-- Date picker to select activities after selected date -->
                <label class="my-2" for="datetime-local-end"> End Date
                    <input name="end-date"
                           class="my-2"
                           type="date"
                           id="datetime-local-end"/>
                </label>

                <!-- Checkbox to filter activities that are commutes -->
                <div class="form-check ms-2 my-2">
                    <input name="commute"
                           class="form-check-input"
                           type="checkbox"
                           value="commute"
                           id="commute-checkbox">
                    <label class="form-check-label" for="commute-checkbox">Commute</label>
                </div>

                <!-- Number boxes to filter activity distance by min and max -->
                <div class="ms-2 mt-2">
                    <p>Distance: </p>

                    <label  class="ms-2 my-2" for="more-than-distance-filter">More than</label>
                    <input  class="my-2 number-input-six-char"
                            type="number"
                            id="more-than-distance-filter"
                            name="more-than-distance"
                            value="{{ min_activities_distance }}"
                            min="{{ min_activities_distance }}"
                            max="{{ max_activities_distance }}"
                            step="0.01"/>

                    <label  class="ms-2 my-2" for="less-than-distance-filter">Less than</label>
                    <input  class="my-2 number-input-six-char"
                            type="number"
                            id="less-than-distance-filter"
                            name="less-than-distance"
                            value="{{ max_activities_distance }}"
                            min="{{ min_activities_distance }}"
                            max="{{ max_activities_distance }}"
                            step="0.01"/>
                </div>

                <!-- Number boxes to filter activity elevation gain by min and max -->
                <div class="ms-2 my-2">
                    <p>Elevation Gain: </p>

                    <label  class="ms-2 my-2" for="more-than-elevation-gain-filter">More than</label>
                    <input  class="my-2 number-input-eight-char"
                            type="number"
                            id="more-than-elevation-gain-filter"
                            name="more-than-elevation-gain"
                            value="{{ min_activities_elevation_gain }}"
                            min="{{ min_activities_elevation_gain }}"
                            max="{{ max_activities_elevation_gain }}"
                            step="0.01"/>

                    <label  class="ms-2 my-2" for="less-than-elevation-gain-filter">Less than</label>
                    <input  class="my-2 number-input-eight-char"
                            type="number"
                            id="less-than-elevation-gain-filter"
                            name="less-than-elevation-gain"
                            value="{{ max_activities_elevation_gain }}"
                            min="{{ min_activities_elevation_gain }}"
                            max="{{ max_activities_elevation_gain }}"
                            step="0.01"/>

                </div>

                <!-- Number boxes to filter activity elevation gain by min and max -->
                <div class="ms-2 my-2">
                    <p>Highest Elevation: </p>

                    <label  class="ms-2 my-2" for="more-than-highest-elevation-filter">More than</label>
                    <input  class="my-2 number-input-eight-char"
                            type="number"
                            id="more-than-highest-elevation-filter"
                            name="more-than-highest-elevation"
                            value="{{ min_activities_highest_elevation }}"
                            min="{{ min_activities_highest_elevation }}"
                            max="{{ max_activities_highest_elevation }}"
                            step="0.01"/>

                    <label  class="ms-2 my-2" for="less-than-highest-elevation-filter">Less than</label>
                    <input  class="my-2 number-input-eight-char"
                            type="number"
                            id="less-than-highest-elevation-filter"
                            name="less-than-highest-elevation"
                            value="{{ max_activities_highest_elevation }}"
                            min="{{ min_activities_highest_elevation }}"
                            max="{{ max_activities_highest_elevation }}"
                            step="0.01"/>

                </div>

                <!-- Number boxes to filter greater than moving time -->
                <div>
                    <p>Moving Time is Greater Than: </p>
                    <label for="more-than-hours">Hours:</label>
                    <input  class="my-2 number-input-two-char"
                            type="number"
                            id="more-than-hours"
                            name="more-than-hours"
                            value="{{ shortest_moving_time_split[0] }}"
                            min="{{ shortest_moving_time_split[0] }}"
                            max="{{ longest_moving_time_split[0] }}"
                            step="1"/>

                    <label for="more-than-minutes">Minutes:</label>
                    <input  class="my-2 number-input-two-char"
                            type="number"
                            id="more-than-minutes"
                            name="more-than-minutes"
                            value="{{ shortest_moving_time_split[1] }}"
                            min="00"
                            max="59"
                            step="1"/>

                    <label for="more-than-seconds">Seconds:</label>
                    <input  class="my-2 number-input-two-char"
                        type="number"
                        id="more-than-seconds"
                        name="more-than-seconds"
                        value="{{ shortest_moving_time_split[2] }}"
                        min="00"
                        max="59"
                        step="1"/>
                </div>

                <!-- Number boxes to filter less than moving time -->
                <div>
                    <p>Moving Time is Less Than: </p>
                    <label for="less-than-hours">Hours:</label>
                    <input  class="my-2 number-input-two-char"
                            type="number"
                            id="less-than-hours"
                            name="less-than-hours"
                            value="{{ longest_moving_time_split[0] }}"
                            min="{{ shortest_moving_time_split[0] }}"
                            max="{{ longest_moving_time_split[0] }}"
                            step="1"/>

                    <label for="less-than-minutes">Minutes:</label>
                    <input  class="my-2 number-input-two-char"
                            type="number"
                            id="less-than-minutes"
                            name="less-than-minutes"
                            value="{{ longest_moving_time_split[1] }}"
                            min="00"
                            max="59"
                            step="1"/>

                    <label for="less-than-seconds">Seconds:</label>
                    <input  class="my-2 number-input-two-char"
                            type="number"
                            id="less-than-seconds"
                            name="less-than-seconds"
                            value="{{ longest_moving_time_split[2] }}"
                            min="00"
                            max="59"
                            step="1"/>
                </div>

                <!-- Number boxes to filter activity average speed by min and max -->
                <div class="ms-2 my-2">
                    <p>Average Speed: </p>

                    <label  class="ms-2 my-2" for="more-than-average-speed-filter">More than</label>
                    <input  class="my-2 number-input-five-char"
                            type="number"
                            id="more-than-average-speed-filter"
                            name="more-than-average-speed"
                            value="{{ min_activities_average_speed }}"
                            min="{{ min_activities_average_speed }}"
                            max="{{ max_activities_average_speed }}"
                            step="0.01"/>

                    <label  class="ms-2 my-2" for="less-than-average-speed-filter">Less than</label>
                    <input  class="my-2 number-input-five-char"
                            type="number"
                            id="less-than-average-speed-filter"
                            name="less-than-average-speed"
                            value="{{ max_activities_average_speed }}"
                            min="{{ min_activities_average_speed }}"
                            max="{{ max_activities_average_speed }}"
                            step="0.01"/>
                </div>

                <!-- Number boxes to filter activity max speed by min and max -->
                <div class="ms-2 my-2">
                    <p>Max Speed: </p>

                    <label  class="ms-2 my-2" for="more-than-max-speed-filter">More than</label>
                    <input  class="my-2 number-input-six-char"
                            type="number"
                            id="more-than-max-speed-filter"
                            name="more-than-max-speed"
                            value="{{ min_activities_max_speed }}"
                            min="{{ min_activities_max_speed }}"
                            max="{{ max_activities_max_speed }}"
                            step="0.01"/>

                    <label  class="ms-2 my-2" for="less-than-max-speed-filter">Less than</label>
                    <input  class="my-2 number-input-six-char"
                            type="number"
                            id="less-than-max-speed-filter"
                            name="less-than-max-speed"
                            value="{{ max_activities_max_speed }}"
                            min="{{ min_activities_max_speed }}"
                            max="{{ max_activities_max_speed }}"
                            step="0.01"/>
                </div>

                <br>

                <!-- Submit the form -->
                <button type="submit"
                        class="ms-2 my-2">Apply
                </button>
            </form>
        </li>
    </ul>

    <div class="plot" id="moving-time-plot">{{ plot_moving_time_data | safe }}</div>
    <div class="plot" id="distance-plot">{{ plot_distance_data | safe }}</div>
    <div class="plot" id="avg-speed-plot">{{ plot_avg_speed_data | safe }}</div>
    <div class="plot" id="max-speed-plot">{{ plot_max_speed_data | safe }}</div>
    <div class="plot" id="elevation-gain-plot">{{ plot_elevation_gain_data | safe }}</div>

<!--    <div id="graph"></div>-->

    <!-- Horizontal Line -->
    <hr>

<!--    <p style="display:none;"  id="activityData">{{ activities }}</p>-->
    <p style="display:none;"  id="start-time-data">{{ activities.start_time }}</p>
<!--    <p style="display:none;"  id="moving-timeData">{{ activities.moving_time }}</p>-->


    <h2>Activities</h2>
    <div class="ms-2 my-2">{{ num_of_activities }}</div>
    <table>
        <tr>
            <th>Activity Name</th>
            <th>Start Time</th>
            <th>Moving Time</th>
            <th>Distance</th>
            <th>Average Speed</th>
            <th>Max Speed</th>
            <th>Elevation Gain</th>
            <th>Highest Elevation</th>
            <th>Activity Type</th>
            <th>Activity Gear</th>
            <th>Filename</th>
            <th>Activity Id</th>
        </tr>
        {% for activity in activities %}
        <tr>
            <td>
                <a href="{{ url_for('main.activity_info', activity_id=activity.activity_id) }}">
                    {{ activity.activity_name }}
                </a>
            </td>
            <td>{{ activity.start_time }}</td>
            <td>{{ activity.moving_time }}</td>
            <td>{{ activity.distance }}</td>
            <td>{{ activity.average_speed }}</td>
            <td>{{ activity.max_speed }}</td>
            <td>{{ activity.elevation_gain }}</td>
            <td>{{ activity.highest_elevation }}</td>
            <td>{{ activity.activity_type }}</td>
            <td>{{ activity.activity_gear }}</td>
            <td>{{ activity.filename }}</td>
            <td>{{ activity.activity_id }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
