{% extends 'base.html' %}

{% block head %}
<title>Convert Activities</title>
{% endblock %}
{% block body %}
    <form id="create-db-form"
          action="/create-db"
          method="POST">
        <div class="mb-3">
            <button class="btn btn-outline-secondary"
                    id="file-create-button"
                    type="submit">Create
            </button>
        </div>
    </form>
    <p id="timezone-setting">Current Timezone setting: {{ timezone }}</p>
    <h3 id="search-result-label">Search Result:</h3>
    <div id="search-result">{{ message }}</div>
{% endblock %}