{% extends 'base.html' %}

{% block head %}
<title>Settings</title>
{% endblock %}
{% block body %}
<h1>Settings</h1>

<div class="container text-center">
    <div class="row">
        <div class="col border">
            <form method="POST">
                <div>
                    <!-- Dropdown box to select user time zone -->
<!--                    <label for="dropdown-menu-timezone"-->
<!--                           class="ms-2 mt-2">Local Timezone-->
<!--                    </label>-->
                    <h5>Local Timezone</h5>
                    <select name="timezone-options"
                            id="dropdown-menu-timezone"
                            class="form-select ms-2 mb-2"
                            style="width:250px">

                        <option value="{{ current_timezone_selection }}">{{ current_timezone_selection }}</option>

                        <!-- Populate the timezone dropdown box with all timezones -->
                        {% for timezone in timezone_list %}
                            <option value="{{ timezone }}">{{ timezone }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Submit the form -->
                <button type="submit"
                        id="settings-page-submit-button"
                        class="ms-2 my-2 btn btn-primary">Set
                </button>
            </form>
        </div>
        </div>
    </div>
</div>


{% endblock %}