{% extends 'base.html' %}

{% block head %}
<title>Upload Activities</title>
{% endblock %}
{% block body %}
    <form id="directory-form"
          action="{{ url_for('main.upload_file') }}"
          method="POST"
          enctype="multipart/form-data">
        <div class="mb-3">
            <label for="form-file"
                   class="form-label"
                   id="instruction-label">Choose your downloaded Strava Data
            </label>
            <input class="form-control"
                   type="file"
                   id="form-file"
                   name="files"
                   webkitdirectory multiple/>
            <button class="btn btn-outline-secondary"
                    id="file-upload-button"
                    type="submit">Upload
            </button>
        </div>
    </form>

    <p id="timezone-setting">Current Timezone setting: {{ timezone }}</p>

    <h3 id="search-result-label">Search Result:</h3>
    <div id="search-result"></div>
{% endblock %}